body {
    width: 100%;
    max-width: 1000px;
    min-width: 800px;
    margin: 20px auto 20px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 5px 14px darkgray;
}

header { position: relative; }
header img { width: 100%; }

h1 {
    width: 100%;
    padding-block: 8px;
    background-color: #555b;
    box-shadow: 0 0 12px;
    color: white;
    position: absolute;
    bottom: 8px;
    text-align: center;    
}

h2 {
    padding: 24px;
    padding-bottom: 0;
    margin: 0;
}

h3 { border-bottom: 1px solid #444; }

div.flex-columns {
    display: flex;
    flex-direction: row;
}

section.column {
    width: 100%;
    padding: 24px;
    padding-inline: 40px;
}

.img-kottfarssas { width: 100%; }

footer {
    margin: 0;
    padding: 16px;
    text-align: center;
}

footer > a {
     color: black;
    text-decoration: none;
}